/* 
===================
Fonts (Pacifico, Open Sans) 
===================
*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Original+Surfer&display=swap");

/* 
===================
Fonts (Pacifico, Open Sans) 
===================
*/
:root {
    /*  HAWAIIAN FONT PAIRING */
    --ff-heading: "Original Surfer", cursive;
    --ff-text: "Open Sans Condensed", sans-serif;
    /*  HAWAIIAN COLOR PATTERN */
    --baby: #45a6cc;
    --babyMid: #4591cc;
    --babyDark: #457bcc;
    --lila: #5b2fb2;
    /* --pink: #e541a5; */
    --pink: #e6007e;
    --pinkOpac: #e6007fe9;
    --pinkLight: #f349b2;
    --sun: #ecc03a;
    /* --bright: #f0e047; */
    --bright: #e5cf61;
    --offBlue: hsl(187, 25%, 33%);
    --offBlueOpac: #3f6469bd;
    --offBlueDark: #1f3234;
    --offBlueDarkOpac: #152123;
    --offRed: #e65039;
    /* darkest grey - used for headings */
    --clr-grey-1: #102a42;
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.75rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--ff-text);
    /* height: 100vh; */
    /* background: linear-gradient(
        0deg,
        rgba(69, 123, 204, 0.9),
        rgba(69, 166, 204, 1)
    ); */
    /* background: var(--babyDark); */
    background: var(--offBlue);
    /* url("../public/surfbuddies1.PNG"); */
    color: var(--bright);
    line-height: 1.5;
    font-size: 0.875rem;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-weight: 400;
    color: var(--bright); /* added*/
}
h1 {
    font-size: 3rem;
    font-family: var(--ff-heading);
}
h2 {
    font-size: 2rem;
    font-family: var(--ff-heading);
}
h3 {
    font-size: 1.25rem;
    color: var(--sun);
}
h4 {
    font-size: 0.875rem;
}
p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-10);
}
@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

.nav-logo {
    width: 70px;
}

.logo-container h2 {
    margin-bottom: 0px;
}
.img {
    width: 100%;
    display: block;
}
.text-slanted {
    font-family: var(--ff-heading);
}
.section-center {
    width: 90vw;
    max-width: var(--max-width);
    margin: 0 auto;
}
.section {
    padding: 5rem 0;
}
.btn {
    background: var(--bright);
    color: var(--pink);
    border-radius: var(--radius);
    padding: 0.375rem 0.75rem;
    text-transform: uppercase;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    border-color: transparent;
    cursor: pointer;
}
.bio-btn {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}
.btn:hover {
    background: var(--pink);
    color: var(--bright);
}

/*
=============== 
Navbar
===============
*/

.navbar {
    height: 6rem;
    background: transparent;
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: var(--ff-heading); /* added */
    margin-bottom: 2rem;
}

.nav-center {
    width: 90vw;
    max-width: var(--max-width);
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
}

.nav-links {
    display: none;
}
.toggle-nav {
    background: transparent;
    border: solid 2px var(--bright);
    color: var(--bright);
    width: 3.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: var(--radius);
    cursor: pointer;
    transition: var(--transition);
}
.toggle-nav:hover {
    background: var(--pink);
}
.pic-container {
    margin-top: 0.75rem;
    justify-self: end;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 1rem;
}
.logoutBtn {
    position: fixed;
    bottom: 2rem;
    height: 1.7rem;
    font-size: 0.7rem;
    letter-spacing: 0;
}
@media screen and (max-width: 800px) {
    .nav-logo {
        display: none;
    }
}
@media screen and (max-width: 900px) {
    .logoutBtn {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    .toggle-nav {
        display: none;
    }

    .nav-links {
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-content: end;
        align-content: center;
        font-size: 1.5rem;
        text-transform: capitalize;
    }
    .nav-link {
        color: var(--clr-white);
        margin-right: 3rem;
        letter-spacing: var(--spacing);
        transition: var(--transition);
        font-size: 1.5rem;
        color: var(--bright);
        cursor: pointer;
        justify-self: end;
    }
    .nav-link:hover {
        color: var(--pink);
    }
}

.profile-pic {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--bright);
    cursor: pointer;
}

.releative {
    position: relative;
}
.friend-count {
    position: absolute;
    top: -0.5rem;
    right: 2rem;
    color: var(--pink);
    background: var(--bright);
    width: 1.5rem;
    height: 1.5rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    font-weight: bold;
    font-size: 0.9rem;
}
/*
=============== 
Sidebar
===============
*/
.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    z-index: -1;
    transition: var(--transition);
    opacity: 0;
    background-color: var(--offBlueDark);
}
.sidebar-overlay.show {
    opacity: 1;
    z-index: 100;
}
.sidebar {
    width: 90vw;
    height: 95vh;
    max-width: var(--fixed-width);
    background-color: var(--black);
    border-radius: var(--radius);
    box-shadow: var(--dark-shadow);
    position: relative;
    padding: 4rem;
    transform: scale(0);
}
.show .sidebar {
    transform: scale(1);
}
.sidebar-close {
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: var(--offWhite);
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}
.sidebar-link {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
    font-family: var(--ff-heading);
    color: var(--offWhite);
    cursor: pointer;
}

.sidebar-link:hover {
    color: var(--pink);
}
.sidebar-link:hover i {
    color: var(--pink);
}

.sidebar-link i {
    color: var(--offWhite);
    margin-right: 1rem;
    margin-bottom: 1rem;
}
@media screen and (min-width: 800px) {
    .sidebar-overlay {
        display: none;
    }
}

/*
=============== 
Welcome
===============
*/

.register-container {
    display: grid;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.register-center {
    display: grid;
    /* min-height: 100vh; */
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
    width: 90vw;
    max-width: var(--max-width);
}
.welcome-container {
    display: grid;
    justify-items: center;
    align-items: start;
    grid-template-rows: repeat(3, auto);
    /* grid-template-rows: auto 1fr 1fr; */
}
.logo {
    max-width: 200px;
}

.form-container {
    display: grid;
    justify-items: center;
    width: 100%;
}

.field {
    min-width: 250px;
    padding: 0.4rem 0.5rem;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 1rem;
    font-family: var(--ff-text);
    margin-bottom: 0.7rem;
    outline: none;
    border: solid 2px rgba(0, 0, 0, 0);
    transition: var(--transition);
    border-radius: var(--radius);
}

.field:focus {
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(240, 224, 71, 1);
}

.register-form {
    display: grid;
    grid-template-columns: 1fr;
}

.login-note {
    margin-top: 0.5rem;
}

@media screen and (min-width: 700px) {
    .register-center {
        min-height: 500px;
        height: 60vh;
        max-width: 800px;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        justify-items: center;
        /* column-gap: 1rem; */
        box-shadow: var(--dark-shadow);
        border-radius: var(--radius);
    }

    .form-container {
        padding-top: 4rem;
    }
}
/*
=============== 
MAINPAGE
===============
*/
.main-container {
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main-center {
    height: calc(95vh - 10rem);
    min-height: 400px;
    display: grid;
    width: 90vw;
    max-width: var(--max-width);
    position: relative;
    box-shadow: var(--dark-shadow);
}

.map-logo {
    position: absolute;
    width: 50px;
    top: 1rem;
    left: 1rem;
    z-index: 10;
    margin: 0;
    padding: 0;
}

.search {
    position: absolute;
    top: 1rem;
    left: 55%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    z-index: 10;
}
@media screen and (max-width: 700px) {
    .search {
        left: 65%;
    }
}
.search-listbox {
    border-radius: var(--radius);
}
.search-results {
    color: var(--offBlue);
}

.locate {
    position: absolute;
    width: 50px;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    z-index: 10;
    cursor: pointer;
}
.locate img {
    width: 50px;
}

.info-window {
    background-color: var(--offBlue);
}

/*
=============== 
SURFSPOT
===============
*/

.surfspot-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    z-index: 10;
    display: grid;
    justify-items: center;
    align-items: center;
    transition: var(--transition);
}

.surfspot-container {
    position: relative;
    padding: 2rem;
    margin: 2rem 0;
    width: 90vw;
    max-width: var(--max-width);
    background: var(--offBlue);
    transition: var(--transition);
    border-radius: var(--radius);
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: start;
}

.surfspot-header {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    max-width: 700px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 2rem;
    column-gap: 2rem;
    row-gap: 2rem;
}
.surfspot-info-container {
    display: grid;
    grid-template-rows: auto 1fr;
    border-bottom: dashed 2px var(--bright);
    max-height: 300px;
}
.surfspot-info-container p {
    overflow-y: auto;
}
@media screen and (max-width: 900px) {
    .surfspot-container {
        margin: 2rem 0;
    }
    .surfspot-info-container {
        max-height: 500px;
    }
}
@media screen and (max-width: 900px) {
    .surfspot-container {
        margin: 2rem 0;
    }
    .surfspot-header {
        grid-template-columns: 1fr;
        padding: 2rem 0;
    }
    .surfspot-pic {
        min-height: 0px;
        max-height: 400px;
    }
    .surfspot-info-container {
        min-height: 0;
    }
}

.surfspot-pic {
    width: 100%;
    min-height: 300px;
    max-height: 400px;
    object-fit: cover;
    border-radius: var(--radius);
    border: 2px solid var(--bright);
}

/*
=============== 
WEATHER
===============
*/
.weather-heading {
    margin-bottom: 2rem;
}

.weather-container {
    display: grid;
    align-items: start;
    justify-items: start;
    width: 100%;
    padding: 2rem;
}

.weather-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    column-gap: 1rem;
    width: 100%;
    max-width: var(--max-width);
}

.curr-weather {
    display: grid;
    align-items: start;
    justify-content: start;
    justify-items: center;
    row-gap: 0.5rem;
}
.curr-weather h3 {
    color: var(--bright);
}

.five-days {
    max-width: 400px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: start;
}

.curr-weather-img-small {
    width: 50px;
}
.light {
    font-weight: 300;
}

@media screen and (max-width: 900px) {
    .weather-container {
        padding-left: 0;
        padding-right: 0;
    }
}

.single-weather {
    display: grid;
    align-items: center;
    justify-content: start;
    justify-items: center;
    grid-template-columns: auto 1fr;
    /* grid-template-rows: 1fr; */
    /* row-gap: 0.5rem; */
    margin-bottom: 1rem;
}
.single-weather-heading {
    font-size: 24px;
}
.single-weather-img-container {
    display: grid;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}
.single-weather-img {
    width: 80px;
}
.single-weather-info {
    display: grid;
    align-items: end;
    justify-content: start;
    justify-items: start;
    justify-self: start;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    row-gap: 0.5rem;
}
.single-weather-info h2 {
    margin: 0;
}

/*
=============== 
POSTFEED WINDOW
===============
*/
.post-container {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    grid-template-columns: 1fr;
}

.post-center {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    background-color: var(--offBlueDark);
    align-items: center;
    justify-content: start;
    border-radius: var(--radius);
    width: 100%;
    padding: 0 1rem;
}
.comment-container {
    display: grid;
    /* grid-template-rows: auto 1fr auto; */
    align-items: center;
    grid-template-columns: auto 1fr;
    column-gap: 1rem;
    width: 100%;
    border-bottom: solid 1px var(--bright);
}
.post-thumb {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--bright);
}

.post-text {
    width: 100%;
    margin-top: 1rem;
    display: block;
    padding: 0.4rem 0.5rem;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 1rem;
    font-family: var(--ff-text);
    margin-bottom: 0.7rem;
    outline: none;
    border: solid 2px rgba(0, 0, 0, 0);
    transition: var(--transition);
    border-radius: var(--radius);
}

.post-text:focus {
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(240, 224, 71, 1);
}

.btn-container {
    display: grid;
    align-items: center;
    justify-items: start;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    column-gap: 1rem;
    width: 100%;
}
.post-image-upload {
    display: grid;
    justify-content: center;
    justify-items: start;
    align-items: center;
    grid-template-columns: 1fr;
    column-gap: 1rem;
    margin: 1rem 0;
}

.feed-pic-container {
    padding: 2rem 0;
    max-width: 600px;
}

.feed-pic {
    width: 100%;
    min-height: 300px;
    max-height: 400px;
    object-fit: cover;
    border-radius: var(--radius);
    border: 2px solid var(--bright);
}

.post-btn {
    background: var(--offBlue);
    color: var(--bright);
    border-radius: var(--radius);
    padding: 0.375rem 0.75rem;
    text-transform: uppercase;
    letter-spacing: var(--spacing);
    justify-self: end;
    /* display: inline-block; */
    transition: var(--transition);
    border-color: transparent;
    cursor: pointer;
}
.post-btn:hover {
    background: var(--bright);
    color: var(--offBlueDark);
}

.feedpost-container {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    grid-template-columns: 1fr;
}
@media screen and (max-width: 900px) {
    .post-container {
        padding-left: 0;
        padding-right: 0;
    }
    .feedpost-container {
        padding-left: 0;
        padding-right: 0;
    }
}
.feedpost-center {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    background-color: var(--offBlueDark);
    align-items: center;
    justify-content: start;
    border-radius: var(--radius);
    width: 100%;
    padding: 0 1rem;
}
.feedcomment-container {
    max-width: 700px;
    display: grid;
    padding-top: 2rem;
    /* grid-template-rows: auto 1fr auto; */
    align-items: center;
    grid-template-columns: auto 1fr;
    column-gap: 1rem;
    width: 100%;
    /* border-top: solid 1px var(--bright); */
}
.feedcomment-container p {
    margin: 0;
    padding: 0;
}
.created_timestamp {
    color: var(--offBlue);
}
.created_timestamp a {
    color: var(--bright);
    font-family: var(--ff-heading);
}
.created_timestamp a:hover {
    color: var(--pink);
}

.feed-pic-container {
    padding: 2rem 0;
    max-width: 600px;
}

.feed-pic {
    width: 100%;
    min-height: 300px;
    max-height: 400px;
    object-fit: cover;
    border-radius: var(--radius);
    border: 2px solid var(--bright);
}

.rating-container {
    position: absolute;
    border-radius: var(--radius);
    background-color: var(--offBlueOpac);
    padding: 0 0.5rem;
    padding-top: 0.3rem;
    left: 16px;
    bottom: 20px;
    z-index: 20;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 150px;
}
.shaka {
    cursor: pointer;
}
.rating-header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: end;
    justify-items: start;
}
.rating-number {
    font-family: var(--ff-heading);
    font-size: 1rem;
    color: var(--bright);
    margin: 0;
    padding: 0;
    padding-right: 1rem;
    padding-left: 0.5rem;
    margin-bottom: 1.1rem;
}
.avg-rating-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 140px;
    margin-bottom: 0.75rem;
}
.img-relative {
    position: relative;
}
.surfvan-follow {
    position: absolute;
    font-size: 1.5rem;
    right: 30px;
    bottom: 12px;
    z-index: 20;
    cursor: pointer;
    stroke: var(--bright);
    stroke-width: 15;
    fill: #e6007ff4;
}
.surfvan-unfollow {
    position: absolute;
    font-size: 1.5rem;
    right: 30px;
    bottom: 12px;
    z-index: 20;
    cursor: pointer;
    stroke: var(--bright);
    stroke-width: 10;
    fill: #152123;
}
.surfvan-unfollow:hover {
    fill: var(--pinkOpac);
    stroke-width: 15;
}

.follower-number {
    position: absolute;
    right: 12px;
    bottom: 34px;
    background: var(--bright);
    width: 1.75rem;
    height: 1.75rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    font-family: var(--ff-heading);
    font-weight: bold;
    font-size: 0.75rem;
}

/*
=============== 
CREATE SURFSPOT
===============
*/

.create-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    z-index: 10;
    display: grid;
    justify-items: center;
    align-items: center;
    transition: var(--transition);
}

.create-container {
    position: relative;
    padding: 2rem;
    width: 90vw;
    max-width: var(--max-width);
    height: 90vh;
    min-height: 730px;
    background: var(--offBlue);
    transition: var(--transition);
    border-radius: var(--radius);
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: start;
}

.create-form {
    margin-top: 2rem;
    display: grid;
    align-items: start;
    justify-items: center;
    grid-template-columns: 1fr;
}
.create-field {
    min-width: 250px;
    max-width: 750px;
    width: 80vw;
    padding: 0.4rem 0.5rem;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 1rem;
    font-family: var(--ff-text);
    margin-bottom: 0.7rem;
    outline: none;
    border: solid 2px rgba(0, 0, 0, 0);
    transition: var(--transition);
    border-radius: var(--radius);
}
.create-field:focus {
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid var(--bright);
}
.create-textarea {
    width: 100%;
    padding: 0.4rem 0.5rem;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 1rem;
    font-family: var(--ff-text);
    margin-bottom: 0.7rem;
    outline: none;
    border: solid 2px rgba(0, 0, 0, 0);
    transition: var(--transition);
    border-radius: var(--radius);
    /* max-width: 500px; */
}

.create-textarea:focus {
    background-color: #ffffff;
    border: 2px solid var(--bright);
}
.create-image-upload {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: start;
    margin: 1rem 0;
}

.preview {
    width: 350px;
    height: 200px;
    margin-bottom: 0.7rem;
    border-radius: var(--radius);
    border: 2px solid var(--bright);
    object-fit: cover;
}
.create-btn {
    display: block;
    width: 100%;
}
/*
=============== 
BEACHFEED
===============
*/

.beachfeed-container {
    display: grid;
    align-items: center;
    justify-content: center;
}

.beachfeed-center {
    /* min-height: calc(100vh - 10rem);
    min-height: calc(50vh - 10rem); */
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    column-gap: 4rem;
    width: 90vw;
    /* max-width: var(--max-width); */
    max-width: 1100px;
}

.following-heading {
    margin-bottom: 2rem;
}
.following {
    margin-bottom: 2rem;
}

.beach-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 1rem;

    margin-bottom: 1rem;
}
.beach-pic {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--bright);
}
.beach-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}
.beach-info h3 {
    color: var(--bright);
    font-family: var(--ff-heading);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.unfollow-btn {
    width: 100px;
    font-size: 0.6rem;
    background: var(--pink);
    color: var(--bright);
    border-radius: var(--radius);
    padding: 0.325rem 0.6rem;
    text-transform: uppercase;
    letter-spacing: var(--spacing);
    /* justify-self: end; */
    /* display: inline-block; */
    transition: var(--transition);
    border-color: transparent;
    cursor: pointer;
}
.unfollow-btn:hover {
    background: var(--bright);
    color: var(--pink);
}

@media screen and (max-width: 800px) {
    .beach-info h3 {
        font-size: 1.3rem;
    }
    .unfollow-btn {
        font-size: 0.55rem;
        width: 90px;
    }
}
@media screen and (max-width: 900px) {
    .beachfeed-center {
        grid-template-columns: 1fr;
    }
}
.feed-heading {
    justify-self: start;
    margin-bottom: 0;
}
.following-feed {
    border-radius: var(--radius);
    background-color: var(--offBlueDark);
    padding: 1rem 2rem;
    margin-right: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    justify-self: end;
    max-width: 700px;
}

@media screen and (max-width: 800px) {
    .following-feed {
        padding: 1rem;
    }
}
@media screen and (max-width: 900px) {
    .following-feed {
        justify-self: start;
    }
}
/*
=============== 
PROFILE
===============
*/

.profile-container {
    display: grid;
    align-items: center;
    justify-content: center;
}

.profile-center {
    /* min-height: calc(100vh - 10rem); */
    min-height: calc(50vh - 10rem);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    column-gap: 2rem;
    width: 90vw;
    max-width: var(--max-width);
}
.other-profile-center {
    /* min-height: calc(100vh - 10rem); */
    min-height: calc(100vh - 10rem);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    column-gap: 2rem;
    width: 90vw;
    max-width: var(--max-width);
}
.profile-info {
    max-width: 250px;
}

.bigger {
    width: 250px;
    height: 250px;
}
.noModal {
    cursor: none;
}

/*
=============== 
FRIENDS
===============
*/
.buddy-container {
    /* height: 100vh; */
    display: grid;
    align-items: center;
    justify-content: center;
}

.buddy-center {
    min-height: calc(100vh - 10rem);
    display: grid;
    /* grid-template-rows: auto 1fr; */
    align-items: start;
    width: 90vw;
    max-width: var(--max-width);
}
.buddy-center h2 {
    margin-bottom: 1.5rem;
}
.wannabes {
    margin-top: 3rem;
}

.users-container {
    height: 100px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    column-gap: 2rem;
    margin: 1rem 0;
}
.buddies {
    display: grid;
    grid-template-rows: repeat(3, auto);
}
.profile-info {
    max-width: 250px;
}

.bigger {
    width: 250px;
    height: 250px;
}

/*
=============== 
CONNECT
===============
*/
.search-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    column-gap: 1rem;
}
.particular {
    max-width: 300px;
    margin-bottom: 3rem;
}

/*
=============== 
Modal 
===============
*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    z-index: 5000;
    display: grid;
    justify-items: center;
    align-items: center;
    transition: var(--transition);
}

.modal-container {
    position: relative;
    padding-top: 2rem;
    width: 90vw;
    max-width: 400px;
    min-height: 200px;
    background-color: var(--offBlue);
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
    border-radius: var(--radius);
}

.close-btn {
    position: absolute;
    font-size: 1.5rem;
    right: 15px;
    top: 10px;
    z-index: 20;
    cursor: pointer;
    color: var(--bright);
}
.uploader-pic-container {
    display: grid;
    justify-content: center;
    justify-items: center;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}
#upload {
    font-size: 2rem;
    cursor: pointer;
}

.modalBtn {
    background-color: var(--bright);
    margin: 1rem;
}
.modal-pic-preview {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--bright);
}

/*
=============== 
CHAT
===============
*/

.chat-container {
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: 100vh;
    margin-bottom: 6rem;
}

.chat-center {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: start;
    column-gap: 2rem;
    width: 90vw;

    max-width: var(--max-width);
}

.message-container {
    display: grid;
    width: 100%;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    margin-bottom: 1rem;
    /* max-width: 500px; */
}

.chat-pic {
    justify-self: start;
    align-self: start;
}

.message-header {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: start;
    column-gap: 0.5rem;
}

.timestamp {
    color: var(--clr-grey-1);
}

.message-content {
    display: grid;
    grid-template-rows: auto 1fr;
}

.chat-input {
    margin-top: 1rem;
    width: 100%;
    padding: 0.4rem 0.5rem;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 1rem;
    font-family: var(--ff-text);
    margin-bottom: 0.7rem;
    outline: none;
    border: solid 2px rgba(0, 0, 0, 0);
    transition: var(--transition);
    border-radius: var(--radius);
    /* max-width: 500px; */
}

.chat-input:focus {
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(240, 224, 71, 1);
}

/*
=============== 
ONLINE USERS
===============
*/

.online-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    margin-bottom: 2rem;
    max-width: 600px;
}
.online-user {
    display: grid;
    justify-items: center;
    max-width: 600px;
}
.online-user img {
    display: block;
}
.online {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: greenyellow;
}
.online-info {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 0.3rem;
    color: var(--bright);
}

.online-location {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 0.3rem;
    margin-bottom: 1rem;
}

.chat-heading {
    margin-bottom: 2rem;
}
